<div style="position: fixed; z-index:900; top: 0vh; width: 100%; padding: 5px 0;background: linear-gradient(180deg, #25265b 10%, #4013a2 100%);">
  <div class="nav-filter" style="padding-left: 23px; padding-top: 20px;"> <!-- books -->
    <div style="border-radius: 24px; margin-bottom: 10px; color: white;">
      <%= form_tag library_sources_path, :method => "get" do %>
        <%= select_tag(:select, options_for_select([["Sort by Date", 1], ["Sort by Author", 2], ["Sort by Title", 3]]), {class: 'filter-input'}) %>
        <%= submit_tag "Sort", :name => nil, style: "opacity: 70%; display-flex; background-color:rgba(126,68,255,1); border:none; font-weight: 300; margin-left: 10px; padding: 2px 17px; color: white; border-radius: 24px;" %>
      <% end %>
    </div>
  </div>
</div>

<!--<small style="color:white;">My Books(<%#= books.count %>)</small>-->
<div class="container" style="padding-bottom: 10px; padding-top: 19vh;min-height: 100vh;">
<div class="row justify-content-sm-center;">
  <% books.each do |book| %>
    <div class="card-source">
      <div style="display:flex; justify-content: space-between; width: 314px;">
        <% if book.photo.present? %>
          <div>
            <%= link_to source_path(book) do %>
              <%= cl_image_tag book.photo.key, height: 100, width: 80, crop: :fill, class: "cover" %>
            <% end %>
          </div>
        <% end %>
        <div class="text">
          <strong><%= link_to book.author.name %></strong> <!-- build this path? Patrik? -->
          <h6><em><%= link_to book.title, source_path(book) %></em></h6>
          <p><%= pluralize book.highlights.size, "highlight" %></p>
          <div class="export-main">
            <p class="export"><i class="fas fa-file-export"></i></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
