<small style="color:white;">My Books(<%= books.count %>)</small>
<div class="row justify-content-sm-center">
  <% books.each do |book| %>
    <div class="card-source">
      <div style="display:flex; justify-content: space-between; width: 314px;">
        <% if book.photo.present? %>
          <div>
            <%= link_to source_path(book) do %>
              <%= cl_image_tag book.photo.key, height: 100, width: 80, crop: :fill, class: "cover" %>
            <% end %>
          </div>
        <% end %>
        <div class="text">
          <strong><%= link_to book.author.name %></strong> <!-- build this path? Patrik? -->
          <h6><em><%= link_to book.title, source_path(book) %></em></h6>
          <p><%= pluralize book.highlights.count, "highlight" %></p>
          <div class="export-main">
            <p class="export"><i class="fas fa-file-export"></i></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
