<div class="container">
<%= render 'sources/navigation' %>
<!--
<%#= select_tag(:sources, options_for_select([["Sort by date", 1], ["Sort by author", 2], ["Sort by title", 3]])) %>
-->
<small style="color:white;">My Articles(<%= @articles.count %>)</small>

<div class="row">
  <% @articles.each do |article| %>
    <div class="card-source">
      <% if article.photo.present? %>
      <div>
        <%= link_to source_path(article) do %>
          <%= cl_image_tag article.photo.key, height: 100, width: 80, crop: :fill, class: "cover" %>
        <% end %>
      </div>
      <% end %>
      <div class="text">
        <strong><%= link_to article.author.name %></strong> <!-- build this path? Patrik? -->
        <h6><em><%= link_to article.title, source_path(article) %></em></h6>
        <p><%= pluralize article.highlights.count, "highlight" %></p>
        <div class="export-main">
          <p class="export"><i class="fas fa-file-export"></i></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
