<%= render 'shared/dropdown' %>
<div class="container" style="padding-bottom: 6px;padding-top: 10vh;position:fixed;z-index:900;width: 100%;background: linear-gradient(180deg, #25265b 10%, #4013a2 100%);">
  <%= link_to "Back", library_sources_path, class: "link-library" %>
  <br>
  <div class="row ustify-content-sm-center">
    <div class="card-source">
      <div style="display:flex; justify-content: space-between; width: 314px;">
        <% if @source.photo.present? %>
          <div>
            <%= cl_image_tag @source.photo.key, height: 100, width: 80, crop: :fill, class: "cover" %>
          </div>
        <% end %>
        <div class="text">
          <strong><%= @source.author.name %></strong> <!-- build this path? Patrik? -->
          <h6><em><%= @source.title %></em></h6>
          <p><%= pluralize @source.highlights.count, "highlight" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:30vh; padding-bottom:64px; min-height:100vh;">
<!-- change this cards > w/ author and book-->
  <%= render 'highlights/highlight_card', highlights: @source.highlights.order(page: :asc) %>
</div>

