<div class="container" style="position:fixed; z-index:900; width: 100%;top: 0vh; padding:0;background: linear-gradient(180deg, #25265b 10%, #4013a2 100%);">
  <div class="card-s">
    <div style="display:flex; justify-content: space-between; width: 100%;">
      <% if @source.photo.present? %>
        <div>
          <%= cl_image_tag @source.photo.key, height: 84, width: 70, crop: :fill, class: "cover-s" %>
        </div>
      <% end %>
      <div class="text-s">
        <h6 style="margin-top:7px;"><%= @source.title %></h6>
        <span style="color: #B6B4B5;font-size: 12px;"><%= @source.author.name %></span>
        <p><%= link_to 'Export', export_book_source_path, style: "color: #fff; font-size: 16px;"%></p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:16vh; min-height:100vh; margin-bottom: 72px;">
  <div class="container" style="margin: 15px;">
  <div class="row">
    <% @source.highlights.order(page: :asc).each do |h| %>
      <div class="card card-adjusted" id='card-<%= h.id %>'>
        <div class='my-nodes'></div>

        <div id='image-<%= h.id %>'>
          <div id='<%= "note-#{h.id}" %>'>
            <p><%= h.content %></p>
            <p class="page">Page <%= h.page %></p>
            <!-- note and tags in one line! -->
            <% if h.my_note.present? %>
              <div class="card-note" style="width: 100%; padding-bottom: 12px;">
                <p style="font-weight: 600; color: #898AA6; font-size:12px; margin: 0;">Notes</p>
                <div style="display: flex; flex-wrap: wrap;">
                  <p style="">
                    <% h.my_note.split(' ').each do |w| %>
                      <% if h.tag_list.include?(w) %>
                        <span>
                          <%= link_to "#{w}", tags_highlights_path(w), style: "margin: 0, 2px; font-family: Roboto; font-size: 16px; font-weight: 300; font-height:0; color:#25265B;"%>
                        </span>
                      <% else %>
                        <span style="font-weight: 300; font-size:14px; color: #13154E; margin: 0; font-family: Roboto;"><%= w %> </span>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
            <div id="<%= h.id %>" style="display: none;"></div>
          </div>
        </div>

        <%= link_to "download",  asset_path("/data/read_to_remember_#{current_user.id}.md"), download: "#{h.source.title.gsub(' ', '_')}_#{h.page}.md", id: 'dwnld', style: 'display: none;' %>
        <div class="icons">
          <div class="sent">
            <% if current_user.favorited?(h) %>
              <p>
                <%= link_to unfav_highlight_path(h), method: :put, remote: true  do %>
                  <i title='Unfavorite' class="fas fa-heart" style="font-size:16px;color:#555555;"></i>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to fav_highlight_path(h), method: :put, remote: true  do %>
                  <i title='Favorite' class="far fa-heart" style="font-size:16px;color:#aaa;"></i>
                <% end %>
              </p>
            <% end %>
            <p>
              <%= link_to edit_highlight_path(h), remote: true do %>
                <i class="fas fa-pen" title='Write/update note' style="font-size:16px;color:#AAAAAA;"></i>
              <% end %>
            </p>
             <p>
                <%= link_to export_highlight_path(h), remote: true do %>
                  <i onclick=showAlert() class="fas fa-paper-plane" title='Export' style="font-size:16px;color:#AAAAAA;"></i>
                <% end %>
              </p>

              <p class='my-btns' data-card-id='<%= h.id %>'>
               <i class="fas fa-share-alt" style="font-size:16px;color:#AAAAAA;"></i>
              </p>

            </div>
            <div class="delete">
              <p><%= link_to h, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
                <i class="far fa-trash-alt" title='Delete' style="font-size:16px;color:#AAAAAA;"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id='myAlert' class="alert alert-warning alert-dismissible fade show m-1" style='display:none;'>
  Yay! Highlight was succsesfully exported!
  <button type="button" class="close" onclick=closeIt()>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>

  function showAlert() {
    setTimeout(function(){
      document.getElementById('dwnld').click();
      document.getElementById('myAlert').style.display = 'inherit';
    }, 900 )
  }

  function closeIt() {
    document.getElementById('myAlert').style.display = 'none';
  }
</script>
