<div class="container" style="position:fixed; z-index:900; width: 100%;top: 0vh; padding:0;background: linear-gradient(180deg, #25265b 10%, #4013a2 100%);">

    <div class="card-s">
      <div style="display:flex; justify-content: space-between; width: 100%;">
        <% if @source.photo.present? %>
          <div>
            <%= cl_image_tag @source.photo.key, height: 84, width: 70, crop: :fill, class: "cover-s" %>
          </div>
        <% end %>
        <div class="text-s">
          <h6 style="margin-top:7px;"><%= @source.title %></h6>
          <span style="color: #B6B4B5;"><strong><%= @source.author.name %></strong></span>
          <%#= pluralize @source.highlights.size, "highlight" %>
        </div>
      </div>
    </div>

</div>

<div class="container" style="padding-top:16vh; min-height:100vh;">

  <div class="container">
  <div class="row">
    <% @source.highlights.order(page: :asc).each do |h| %>
      <div class="card" id='<%= "note-#{h.id}" %>'>
        <p><%= h.content %></p>
        <p class="page">Page <%= h.page %></p>
        <!-- -->
        <% if h.my_note.present? %>
          <div class="card-note" style="width: 100%; padding-bottom: 12px;">
            <p style="font-weight: 600; color: #898AA6; font-size:12px; margin: 0;">Notes</p>
            <p style="font-weight: 300; font-size:14px; color: #13154E; margin: 0; font-family: Roboto"><%= h.h_note %></p>
            <div style="display: flex; flex-wrap: wrap;">
              <p style="font-size: 12px; font-weight: 300; font-height:0; color: #13154E; font-family: Roboto;"><% h.tag_list.each do |t| %></p>
              <p style="font-weight: 300; padding-left: .5vw; font-size:12px; margin:0;"><%= link_to "#{t}", tags_highlights_path(t), style: "color:#25265B;"%></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <div id="<%= h.id %>" style="display: none;"></div>

        <div class="icons">
          <div class="sent">
            <% if current_user.favorited?(h) %>
              <p>
                <%= link_to unfav_highlight_path(h), method: :put, remote: true  do %>
                  <i class="fas fa-heart" ></i>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to fav_highlight_path(h), method: :put, remote: true  do %>
                  <i class="far fa-heart"></i>
                <% end %>
              </p>
            <% end %>
            <!-- render form -->
              <p>
                <%= link_to edit_highlight_path(h), remote: true do %>
                  <i class="fas fa-pen"></i>
                <% end %>
              </p>

            <p>
              <%= link_to unfav_highlight_path(h) do %> <!-- build this one :export -->
                <i class="fas fa-paper-plane"></i>
              <% end %>
            </p>
          </div>
          <div class="delete">
            <p><%= link_to h, method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>

