<div class="container">
  <%= link_to "Back", library_sources_path, class: "link-library" %>

  <div class="row">
    <div class="card-source">
      <div>
        <%= cl_image_tag @source.photo.key, height: 100, width: 80, crop: :fill, class: "cover" %>
      </div>
      <div class="text">
        <strong><%= @source.author.name %></strong> <!-- build this path? Patrik? -->
        <h6><em><%= @source.title %></em></h6>
        <p><%= pluralize @source.highlights.count, "highlight" %></p>
      </div>
    </div>
  </div>

  <%= render 'highlights/highlight_card', highlights: @source.highlights.order(page: :asc) %>

</div>
