<div class="container" style="margin: 15px; padding-bottom: 55px;">
  <div class="row">
    <% highlights.each do |h| %>
      <div class="card card-adjusted" id='<%= "note-#{h.id}" %>'>
        <h3 style="font-size: 12px; font-weight: bold; font-family: Spartan"><%= link_to h.source.title, source_path(h.source) %></h3>
        <h5 style="color: #797C80; margin-bottom:25px; font-size: 12px; font-weight: 400;"><%= h.source.author.name %></h5>
        <p><%= h.content %></p>
        <p class="page">Page <%= h.page %></p>
        <!-- -->
        <% if h.my_note.present? %>
          <div class="card-note" style="width: 100%; padding-bottom: 12px;">
            <p style="font-weight: 600; color: #898AA6; font-size:12px; margin: 0;">Notes</p>
            <p style="font-weight: 300; font-size:14px; color: #13154E; margin: 0; font-family: Roboto;"><%= h.h_note %></p>
            <div style="display: flex; flex-wrap: wrap;">
              <p style="font-size: 12px; font-weight: 300; font-height:0; color: #13154E; font-family: Roboto;"><% h.tag_list.each do |t| %></p>
                <p style="font-weight: 300; padding-left: .5vw; font-size:12px; margin:0;"><%= link_to "#{t}", tags_highlights_path(t), style: "color:#25265B;"%></p>
              <% end %>
            </div>
          </div>
        <% end %>

       <div id="<%= h.id %>" style="display: none;"></div>

        <div class="icons">
          <div class="sent">
            <% if current_user.favorited?(h) %>
              <p>
                <%= link_to unfav_highlight_path(h), method: :put, remote: true do %>
                  <i class="fas fa-heart" style="font-size:16px;color:#555555;"></i>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to fav_highlight_path(h), method: :put, remote: true do %>
                  <i class="far fa-heart" style="font-size:16px;color:#AAAAAA;"></i>
                <% end %>
              </p>
            <% end %>
          <!-- render form -->
            <p>
              <%= link_to edit_highlight_path(h), remote: true do %>
                <i class="fas fa-pen edit-icon" data-id="<%= h.id %>" style="font-size:16px;color:#AAAAAA;"></i>
              <% end %>
            </p>
            <p>
              <%= link_to unfav_highlight_path(h) do %> <!-- build this one :export -->
                <i class="fas fa-paper-plane" style="font-size:16px;color:#AAAAAA;"></i>
              <% end %>
            </p>
          </div>
          <div class="delete">
            <p><%= link_to h, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
              <i class="far fa-trash-alt" style="font-size:16px;color:#AAAAAA;"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
