<div class="container">
  <div class="row">
    <% highlights.each do |h| %>
      <div class="card">
        <h3><%= link_to h.source.title, source_path(h.source) %></h3>
        <h5><%= h.source.author.name %></h5>
        <p><%= h.content %></p>
        <p class="page">Page <%= h.page %></p>
        <!-- -->
        <% if h.my_note.present? %>
          <div class="card-note" style="width: 100%; padding-bottom: 12px;">
            <p style="font-weight: bold; color: #898AA6; font-size:13px; margin: 0;">Notes</p>
            <p style="font-weight: 300; font-size:12px; color: #25265B; margin: 0;"><%= h.h_note %></p>>
            <div style="display: flex; flex-wrap: wrap;">
              <p style="font-size: 12px; font-height:0;"><% h.tag_list.each do |t| %></p>
                <p style="font-weight: 300; padding-left: .5vw; font-size:12px; margin:0;"><%= link_to "#{t}", tags_highlights_path(t), style: "color:#25265B;"%></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="icons">
          <div class="sent">
            <% if current_user.favorited?(h) %>
              <p>
                <%= link_to unfav_highlight_path(h) do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to fav_highlight_path(h) do %>
                  <i class="far fa-heart"></i>
                <% end %>
              </p>
            <% end %>
          <!-- render form -->
            <p>
              <%= link_to edit_highlight_path(h) do %>
                <i class="fas fa-pen"></i>
              <% end %>
            </p>
            <p>
              <%= link_to unfav_highlight_path(h) do %> <!-- build this one :export -->
                <i class="fas fa-paper-plane"></i>
              <% end %>
            </p>
          </div>
          <div class="delete">
            <p><%= link_to h, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
              <i class="far fa-trash-alt"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
