<div class="icons" style='position: absolute; top: 86%; left:50%; transform:translateX(-50%);'>
    <% if current_user.favorited?(h) %>
      <p>
        <%= link_to unfav_highlight_path(h), id: "unfav",  method: :put, remote: true  do %>
          <i class="fas fa-heart flashcard-button"></i>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to fav_highlight_path(h), id: "fav", method: :put, remote: true  do %>
          <i class="far fa-heart flashcard-button"></i>
        <% end %>
      </p>
    <% end %>
    <!-- render form -->
      <p>
        <%= link_to edit_highlight_path(h), id: "edit", remote: true do %>
          <i class="fas fa-pen flashcard-button"></i>
        <% end %>
      </p>
    <p>
      <%= link_to unfav_highlight_path(h) do %> <!-- build this one :share -->
        <i class="fas fa-paper-plane flashcard-button"></i>
      <% end %>
    </p>

  <div class="delete">
    <p><%= link_to h, method: :delete, data: {confirm: "Are you sure?"}, id: "del" do %>
      <i class="far fa-trash-alt flashcard-button"></i></p>
    <% end %>
  </div>
</div>

<script>
  const myCarousel = document.getElementById('carouselExampleIndicators');
  const cards = document.getElementsByClassName("carousel-card");
  const ids = Array.prototype.map.call(cards, function(a) { return a.id.replace('note-', '') });

  const myNext = document.getElementById('myNext');
  const myPrev = document.getElementById('myPrev');

  const favLink = document.getElementById('fav');
  const unfavLink = document.getElementById('unfav');
  const editLink = document.getElementById('edit');
  //const exportLink = document.getElementById('export');
  const delLink = document.getElementById('del');


  let i = 0;

  window.location.href = 'http://localhost:3000/highlights/flashcards#' + ids[i]

  if (favLink) {
    favLink.href = `${ids[i]}/fav`;
  } else {
    unfavLink.href = `${ids[i]}/unfav`;
  }

  editLink.href = `${ids[i]}/edit`;
  //exportLink.href = `${ids[i+1]}/export`;
  delLink.href = `${ids[i]}/`;

  myNext.addEventListener('click', function () {

    if(i < 6) {
      console.log(`${ids[i]}`);
      console.log(i);
      window.location.href = 'http://localhost:3000/highlights/flashcards#' + ids[i+1]

      if (favLink) {
        favLink.href = `${ids[i+1]}/fav`;
      } else {
        unfavLink.href = `${ids[i+1]}/unfav`;
      }
      editLink.href = `${ids[i+1]}/edit`;
      //exportLink.href = `${ids[i+1]}/export`;
      delLink.href = `${ids[i+1]}/`;

      i++;
    }
  });

  myPrev.addEventListener('click', function () {
    if(i > 0) {
      console.log(`${ids[i]}`);
      window.location.href = 'http://localhost:3000/highlights/flashcards#' + ids[i-1]

      if (favLink) {
        favLink.href = `${ids[i-1]}/fav`;
      } else {
        unfavLink.href = `${ids[i-1]}/unfav`;
      }
      editLink.href = `${ids[i-1]}/edit`;
      //exportLink.href = `${ids[i+1]}/export`;
      delLink.href = `${ids[i-1]}/`;

      i--;
    }
  });

//do the same with touch events ^^
</script>
