<!-- wip - render this form -->
<div class="container">
<p><%= link_to "All highlights", highlights_path, style: "color:white;" %></p>
<small style="color:white;"><%= @highlight.source.author.name %></small>
<br>
<small style="color:white;"><%= @highlight.source.title %></small>
<br>
<small style="color:white;"><%= @highlight.content %></small>

<%= simple_form_for(@highlight) do |f| %>
  <%= f.input :my_note %>
  <%= f.submit "Save" %>
<% end %>
</div>
