<p><%= link_to "All highlights", highlights_path %></p>
<h1>Favorites (<%= @highlights.count %>)</h1>
<% @highlights.each do |h| %>
  <h3><%= h.source.author.name %></h3>
  <p><%= h.source.title %></p>
  <p><%= h.content %></p>
  <p>page <%= h.page %></p>
  <div style="display:flex; flex-direction: row;">
    <% if @user.favorited?(h) %>
      <p><%= link_to 'ðŸ’™', unfav_highlight_path(h) %></p>
    <% else %>
      <p><%= link_to 'ðŸ’”', fav_highlight_path(h)  %></p>
    <% end %>
    <p><%= link_to 'ðŸ—‘ï¸', h, method: :delete, data: {confirm: "Are you sure?"} %></p>
  </div>
<% end %>
