<p><%= link_to "All highlights", highlights_path %></p>
<h1 style="color:white;">Favorites (<%= @highlights.count %>)</h1>

<div class="container">
    <div class="row">
      <% @highlights.each do |h| %>
      <div class="card">
        <h3><%= h.source.title %> by</h3>
        <h5><%= h.source.author.name %></h5>
        <p><%= h.content %></p>
        <p class="page">Page <%= h.page %></p>
        <div class="icons">
          <div class="sent">
            <% if @user.favorited?(h) %>
            <p><%= link_to '', unfav_highlight_path(h) %><i class="fas fa-heart"></i></p>
            <% else %>
            <p><%= link_to '', fav_highlight_path(h)  %><i class="far fa-heart"></i></p>
            <% end %>
            <p><%= link_to '', unfav_highlight_path(h) %><i class="fas fa-pen"></i></p>
            <p><%= link_to '', unfav_highlight_path(h) %><i class="fas fa-paper-plane"></i></p>
          </div>
          <div class="delete">
            <p><%= link_to '', h, method: :delete, data: {confirm: "Are you sure?"} %><i class="far fa-trash-alt"></i></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
