<%= render 'exit'%>
  <div class="carousel">
    <% @flashcards.each do |h| %>
      <div class="flashcard transparent-container carousel-cell" id="carousel-cell<%= @flashcards.index(h) + 1 %>" data-card-id="<%= h.id %>">
        <div class="" id="card-<%= h.id %>">
          <div class="flashcard-text">
            <h3><%= link_to h.source.title, source_path(h.source) %></h3>
            <h5><%= h.source.author.name %></h5>
              <p><%= h.content %></p>
              <p class="page">Page <%= h.page %></p>
          </div>
          <% if h.my_note %>
            <div class="text-box" style="width:86%;">
              <p><%= h.h_note %></p>
              <div style="display:flex;flex-wrap: wrap;">
                <% h.tag_list.each do |t| %>
                  <p style="padding-left: .5vw;"><%= link_to "#{t}", tags_highlights_path(t) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<%= render 'icons', h: @flashcards.first %>
