<p><%= link_to "All highlights", highlights_path %></p>
<h1>flashcards (<%= @flashcards.count %>)</h1>
<% @flashcards.each do |f| %>
  <h3><%= f.source.author.name %></h3>
  <p><%= f.source.title %></p>
  <p><%= f.content %></p>
  <p>page <%= f.page %></p>
<% end %>
