<div style="z-index:900;top: 0vh;height: 13vh; width:100%;position:fixed; background: linear-gradient(180deg, #25265b 10%, #4013a2 100%);">
  <div style="padding-left: 23px; padding-top:10px;"> <!-- books -->
    <div style="border-radius: 24px; margin-bottom: 20px; padding-top: 15px; color: white;">
      <%= form_tag highlights_path, class: "form-inline-sm search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-sm",
          placeholder: "Search..."
        %>
        <%= submit_tag "Submit", class: "form-control-sm search-btn"%>
      <% end %>
      <% if @query %>
        <p style="color: #fff;padding-left: 10px; ">We found <%= pluralize @count, 'result' %> for <strong><%= @query %></strong>.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 12vh;min-height: 100vh;">
  <%= render 'highlights/highlight_card', highlights: @highlights %>
</div>
