<div class="container">
<!-- Ilona, make this pretty :P-->
  <div style="padding-left: 15px; padding-top: 22px; padding-bottom: 10px;">

    <%= form_tag highlights_path, class: "form-inline-sm search", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-sm",
        placeholder: "Search ReadToRemember"
      %>
      <%= submit_tag "Search", class: "form-control-sm search-btn"%>
    <% end %>
  </div>
  <% if @query %>
    <p style="color: #fff;">We found <%= pluralize @count, 'result' %> for <%= @query.upcase %>!</p>
  <% end %>
</div>

<%= render 'highlights/highlight_card', highlights: @highlights %>
