<!DOCTYPE html>
<html>
  <head>
    <title>ReadToRemember</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- flickity carousel -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style='<%= "height: unset;" if current_user && current_page?(controller: 'highlights', action: 'flashcards') %>'>
    <% unless request.fullpath == "/" || request.fullpath == "/highlights/flashcards"%>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
